<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108203635451-pnlvcdjjoq70dk03kb8ns60t7uu8r16r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108203635451-pnlvcdjjoq70dk03kb8ns60t7uu8r16r</string>
	<key>API_KEY</key>
	<string>AIzaSyBxWWKpLkA8hIZUxpCczRoCWBWz_kfWwGs</string>
	<key>GCM_SENDER_ID</key>
	<string>108203635451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontEsignco</string>
	<key>PROJECT_ID</key>
	<string>front-esignco-94436</string>
	<key>STORAGE_BUCKET</key>
	<string>front-esignco-94436.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108203635451:ios:036e63a7cf133f53b5365e</string>
</dict>
</plist>